<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/nutritracker">Nutri Tracker</a></li>
    <li><a href="/mealCreator">Meal Creator</a></li>
    <li><a href="/mealtracker">Meal Tracker</a></li>
    <li><a href="/activitytracker">Activity Tracker</a></li>
    <li><a href="/inspector">Food Inspector</a></li>
    <li><a href="/profile">Min Profil</a></li>
  </ul>
</nav>
