<meta charset="UTF-8" />
<title>Hjem</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="/style.css" />
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap"
/>
