<meta charset="UTF-8" />

<!-- Giver titlen Nutri Tracker, som bliver hentet på alle view filerne -->
<title>Nutri Tracker</title>

<!-- Link til CSS, denne bliver hentet i alle view filerne -->
<link rel="stylesheet" href="/style.css" />
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap"
/>
