<!-- Header navigationsbar med links til alle siderne, n책r brugeren er logget ind. -->
<nav>
  <ul>
    <li><a href="/">Hjem</a></li>
    <li><a href="/nutritracker">Daglig Tracker</a></li>
    <li><a href="/mealCreator"> Opret Et M책ltid</a></li>
    <li><a href="/allMeals">Alle M책ltider</a></li>
    <li><a href="/mealtracker">M책ltids Tracker</a></li>
    <li><a href="/activitytracker">Aktivitets Tracker</a></li>
    <li><a href="/inspector">Ingrediens Inspektion</a></li>
    <li><a href="/profile">Min Profil</a></li>

  </ul>
</nav>


