<!-- Header med navigationsbar med registrer og login, som bruges når brugeren ikke er logget ind endnu-->
<nav>
  <ul>
    <li>
      <a href="/login"><button class="login">Log ind</button></a>
    </li>
    <li>
      <a href="/register"><button>Opret profil</button></a>
    </li>
  </ul>
</nav>
