<meta charset="UTF-8" />

<!-- /* Ikke den helt rigtige måde at gøre det på, da alle vores sider i princippet vil have page title som "Nutri Tracker" -->
<title>Nutri Tracker</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="/style.css" />
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap"
/>
