<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %> 
</head>
<body>
    <header><%- include('../partials/headerLoggedin'); %></header>
    <form class = "show" id = "showForm" action="/allMeals" method="GET">
    <div class="container" >
        <h1>Alle Måltider</h1>
        <table>
            <thead>
                <tr>
                    <th>Navn</th>
                    <th>Antal Ingredienser</th>
                    <th>Antal Kalorier</th>
                    <th>Protein</th>
                    <th>Fedt</th>
                    <th>Fiber</th>
                </tr>
            </thead>
            <tbody>
                <% meals.forEach(function() { %>
                    <tr>
                        <td><%= meal.name %><</td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
    
    <footer><%- include('../partials/footer'); %></footer>
</body>
</html>
