<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %> 
</head>
<body>
    <header><%- include('../partials/headerMain'); %></header>
    <form class = "show" id = "showForm" action="/allMeals" method="GET">
    <div class="container" >
        <h1>All Created Meals</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    
    <footer><%- include('../partials/footer'); %></footer>
</body>
</html>
