<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %> <!-- This line includes the head.ejs file from the partials folder -->
</head>
<body>
    <header><%- include('../partials/headerMain'); %></header>
    <div class="container">
        <div class="content">
          <div class="box">
            <h1>Create a New Meal</h1>
            <form action="/meals" method="POST">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name">
                <button type="submit">Create</button>
            </form>
    
    <footer><%- include('../partials/footer'); %></footer>

</body>
</html>